/* ## Site Footer
--------------------------------------------- */

.site-footer {
	width: 100%;
	background-color: $dark-blue;
	font-size: 1.8rem;
	color: $white;

	> .wrap {
		position: relative;
		margin: 0 auto;
		padding: 5vw;
		border-top: $site-border;
		color: $gray;
		font-family: $font-heading;
		font-size: 1.4rem;
		font-style: italic;
		text-align: center;

		@include breakpoint(sm) {
			width: 90%;
			max-width: map-get($breakpoints, xl);
			padding: 5rem 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			color: $gray;
		}

		p {

			&:last-of-type {
				margin-bottom: 0;
				display: none;
			}
		}
	}

	.widget-area {

		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}
}

/* ## Before Footer
--------------------------------------------- */

.before-footer {
	position: relative;
	padding: 10rem 0;
	color: $white;
	text-align: center;

	@include overlay;

	.widget-title {
		font-size: 2em;
	}

	.widget {
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.widget_media_image {
		overflow: hidden;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;

		.widget-wrap {
			height: 100%;
		}

		img {
			width: 100%;
			height: 100% !important;
			object-fit: cover;
			object-position: center;
		}
	}

	p {
		max-width: map-get($breakpoints, sm);
		margin: 0 auto 1.382em;
	}
}

/* ## Footer Widgets
--------------------------------------------- */

.footer-widgets {
	padding: 6rem 0;

	.wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.widget-title {
		margin-bottom: 1.2em;
	}

	.widget-area {
		width: 100%;
		margin: 0 auto 2rem;

		@include breakpoint(sm) {
			margin-left: 2.564102564102564%;
			flex: 1;

			&:first-of-type {
				margin-left: 0;
			}
		}

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {

			@include breakpoint(sm) {
				flex: 1.618;
			}
		}

		.widget {
			display: block;
			width: 100%;
			margin: 0 auto 2em;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.enews {

		form {
			display: flex;
			position: relative;
			align-items: flex-start;
			justify-content: space-between;
		}

		input[type="email"] {
			margin-right: 1em;
		}

		input[type="submit"] {
			padding: 1em;
			background-color: $accent;
			box-shadow: 0 1.5rem 1.5rem rgba($dark, 0.1);
			font-weight: $bolder;

			@include hover-focus {
				box-shadow: 0 0.5rem 1rem rgba($dark, 0.1);
			}
		}
	}
}
